<h3>Добавить ученика</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Имя</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="student.firstName" name="firstName">
    </div>

    <div class="form-group">
      <label for="name">Фамилия</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="student.lastName" name="lastName">
    </div>

    <div class="form-group">
      <label for="name">Год поступления</label>
      <input type="text" class="form-control" id="year" required [(ngModel)]="student.year" name="year">
    </div>

    <button type="submit" class="btn btn-success">Отправить</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Вы успешно отправили данные!</h4>
  <!-- <button class="btn btn-success" (click)="newStudent()">Add</button> -->
</div>
