<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="students" class="nav-link" routerLinkActive="active">Список Учеников</a>
    </li>
    <li class="nav-item">
        <a routerLink="add" class="nav-link" routerLinkActive="active">Добавить Ученика</a>
    </li>
  </ul>
</nav>


<div class="container">
  <br>
  <h2 style="text-align: center;">Онлайн школа<!--{{title}}--></h2>
  <hr>  
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer bg-dark">
  <div class="container">
      <span>Написать нам на <a href="#" class="text-black">Gmail</a>, если есть вопросы</span>
  </div>
</footer>